body {
	background-color: wheat;
}
a img {
	border: none;
}
.content {
	margin: 0 auto;
	width: 900px;
	margin-bottom: 100px;
	padding: 20px;
	font-family: "Verdana", sans-serif;
	font-size: 14px;
	background-color: #F5F2DC;
}
h1 {
	text-align: center;
	margin: 30px auto 50px;
}
.image-descr {
	display: block;
	text-align: right;
	font-size: 0.9em;
}
.nav {
	position: relative;
	top: -20px;
	text-align: center;
}
.nav .toc {
	margin: 0 30px;
}
.note {
	font-family: cursive;
}
.error {
	color: red;
}
.lessons {
}
.lessons a {
	display:block;
	margin-bottom: 5px;
}
.copyright {
	margin-top: 50px;
	font-size: 0.8em;
}
.keyboard {
	width: 660px;
	height: 295px;
	display: none;
}
.keyboard img {
	width: 100%;
	height: 100%;
}
.ui-resizable-sw {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 30px;
	height: 30px;
	background-color: black;
	cursor: sw-resize;
}
.key-marker {
	position: absolute;
	border: 5px solid red;
}
