.content {
	margin: 0 auto;
	width: 900px;
	margin-bottom: 100px;
}
h1 {
	text-align: center;
	margin: 30px auto 50px;
}
.image-descr {
	display: block;
	text-align: right;
	font-size: 0.9em;
}
.nav {
	position: relative;
	top: -20px;
	text-align: center;
}
.nav .toc {
	margin: 0 30px;
}
.note {
	font-family: cursive;
}
.error {
	color: red;
}
.lessons {
}
.lessons a {
	display:block;
	margin-bottom: 5px;
}
.copyright {
	margin-top: 50px;
	font-size: 0.8em;
}