body {
	background-color: wheat;
}
a img {
	border: none;
}
.content {
	margin: 0 auto;
	width: 900px;
	padding: 20px;
	font-family: "Verdana", sans-serif;
	font-size: 14px;
	background-color: #F5F2DC;
}
h1 {
	text-align: center;
	margin: 30px auto 50px;
}
.image-descr {
	display: block;
	text-align: right;
	font-size: 0.9em;
}
.nav {
	position: relative;
	top: -20px;
	text-align: center;
}
.nav .toc {
	margin: 0 30px;
}
.note {
	font-family: cursive;
}
.error {
	color: red;
}
.lessons {
}
.lessons a {
	display:block;
	margin-bottom: 5px;
}
.copyright {
	margin-top: 50px;
	font-size: 0.8em;
}
.keyboard {
	width: 660px;
	height: 295px;
	display: none;
}
.keyboard img {
	width: 100%;
	height: 100%;
	cursor: move;
}
.ui-resizable-sw {
	position: absolute;
	left: 5px;
	bottom: 0;
	width: 40px;
	height: 40px;
	background-image: url("./img/sw-arrow.png");
	background-repeat: no-repeat;
	cursor: sw-resize;
}
.key-marker {
	position: absolute;
	border: 3px solid red;
}
ul.buttons {
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	list-style-type: none;
}
ul.buttons li {
	display: inline;
}
.buttons-container {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}
